*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Rubik", sans-serif;
}

@media (max-width: 768px) {
  html {
    font-size: 8.8px;
  }
}
